<div class="container">
  <div class="d-flex justify-content-between">
    <h1><%= @tasks.title %></h1>
    <%= link_to editing_path do %>
      <i class="fas fa-pencil-alt"> Edit this task</i>
    <% end %>
  </div>
  <p> <%= @tasks.details  %> </p>

</div>
